<%= link_to 'How do I format this?', admin_example_path, target: :_blank, class: 'btn-help' %>
<%= form_for(song) do |f| %>
  <% if song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= react_component(
    'SongForm',
    song: song,
    languages: Song.distinct.pluck(:lang),
    references: song.app_entry(:references),
    books: Book.app_data) %>
  <div class="actions text-center">
    <%= f.submit class: "btn btn-update" %>
<% end %>
    <%= button_to 'Remove', song_path(song), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-delete" if super_admin && song.persisted? %>
  </div>