<%= render 'nav' %>
<%= render 'flash' %>

<h1>Songbase Admin</h1>

<table class="admin_table">
  <tbody>
    <tr>
      <%= link_to 'New Song', new_song_path, class: "new_song_link" %>
    </tr>
    <% if super_admin %>
      <%= render partial: 'admin_songs', locals: {songs: @songs_to_check[:duplicates], review_changed: false, review_duplicate: true} %>
    <% end %>
    <%= render partial: 'admin_songs', locals: {songs: @songs_to_check[:changed], review_changed: true, review_duplicate: false} %>
    <%= render partial: 'admin_songs', locals: {songs: @songs, review_changed: false, review_duplicate: false} %>
  </tbody>
</table>