<%= render 'nav' %>
<%= render 'flash' %>

<h1>Songbase Admin</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <%= link_to 'New Song', new_song_path %>
    </tr>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song[:title] %></td>
        <td><%= link_to 'Edit', edit_song_path(song[:model]) %></td>
        <td><%= link_to 'Remove', song[:model], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><div class="last_edited">Last edited by: <%= song[:model][:last_editor] || 'System' %></div></td>
      </tr>
    <% end %>
  </tbody>
</table>