<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<div class="centered">
  <h4 class="song-title"><%= @song.firstline_title %></h4>
  <br />
  <%= react_component('SongDisplay', lyrics: @song.lyrics) %>
  <br />
  <div class="bottom-nav-buttons">
    <%= link_to 'Edit', edit_song_path(@song) %> |
    <%= link_to 'Back', admin_path %>
  </div>
</div>
