<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || "Songbase" %></title>
    <%= csrf_meta_tags %>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" content="notranslate">
    <meta name="google-site-verification" content="37ffvoSa1-N_lySTBC3xeLJozjNWNh0Sy-rI9g3DBVY" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="manifest" href=<%= asset_path "manifest.json" %> />
  </head>

  <body>
    <div class="application-container">
      <%= yield %>
    </div>
  </body>
</html>
